name: Windows Test IDAES-PSE Main

on: [workflow_dispatch]

jobs:
  test:
    runs-on: windows-latest
    steps:
      - name: Set up Python 3.7
        uses: actions/setup-python@v2
        with:
          python-version: '3.7'
      - name: "Clone/Install IDAES-PSE"
        shell: cmd
        run: |
          git clone https://github.com/idaes/idaes-pse.git
          cd idaes-pse
          git checkout master
          pip install -r requirements-dev.txt
          idaes get-extensions --url https://github.com/IDAES/idaes-ext/releases/download/test-release/
      - name: "Test IDAES-PSE"
        shell: cmd
        run: |
          cd idaes-pse\idaes
          pytest -m "not integration" --ignore=dmf --ignore=commands
